{% extends "head.html" %}

{% block content %}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla turpis ac ipsum scelerisque, ac
        finibus odio aliquam. Aenean porttitor vestibulum neque, lobortis pellentesque lorem faucibus vel. Quisque
        tortor diam, tempus at leo at, molestie aliquam odio. Proin pretium euismod tellus. Sed tempor vehicula velit
        blandit aliquam. Pellentesque id sapien vel tellus viverra vestibulum nec vitae magna. In hac habitasse platea
        dictumst.
    </p>
{% endblock %}