<div class="modal fade" id="edit_modal{{ song.id }}" tabindex="-1" aria-labelledby="edit-modal-title{{ song.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="edit-modal-title{{ song.id }}">Edit #{{ song.id }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form method="post" action="{{ url_for('main.update_song', song_id=song.id) }}" id="update_form{{ song.id }}">

                    <div class="form-group mb-3">
                        <label for="title{{ song.id }}">Title:</label>
                        <input type="text" class="form-control" id="title{{ song.id }}" name="title" placeholder="Insert title" value="{{ song.title }}"
                               required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="artist{{ song.id }}">Artist:</label>
                        <input type="text" class="form-control" id="artist{{ song.id }}" name="artist" placeholder="Insert artist" value="{{ song.artist }}">
                    </div>
                    <div class="form-group mb-3">
                        <label for="album{{ song.id }}">Album:</label>
                        <input type="text" class="form-control" id="album{{ song.id }}" name="album" placeholder="Insert album" value="{{ song.album }}">
                    </div>
                    <div class="form-group mb-3">
                        <label for="duration_seconds{{ song.id }}">Duration:</label>
                        <input type="number" class="form-control" id="duration_seconds{{ song.id }}" name="duration_seconds"
                               placeholder="Insert duration" step="any" value="{{ song.duration_seconds }}">
                    </div>
                    <div class="form-group mb-3">
                        <label for="genre{{ song.id }}">Genre:</label>
                        <input type="text" class="form-control" id="genre{{ song.id }}" name="genre" placeholder="Insert genre" value="{{ song.genre }}">
                    </div>
                    <div class="form-group mb-3">
                        <label for="release_date{{ song.id }}">Release date:</label>
                        <input type="date" class="form-control" id="release_date{{ song.id }}" name="release_date"
                               placeholder="Insert date" value="{{ song.release_date }}">
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-success" type="submit" form="update_form{{ song.id }}">Confirm</button>
            </div>

        </div>
    </div>
</div>